.Background__Image {
  background-image: linear-gradient(
      hsl(192, 100%, 14%, 0.8),
      hsl(192, 100%, 14%, 0.8)
    ),
    url(./assets/img/background.png);

  height: calc(100vh - 20px);
  min-width: 60vw;

  border-radius: 0px 20px 0px 20px;

  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-pad {
  padding: 10px;
}
.custom-pad-form {
  padding: 5rem 10rem 5rem 2rem;
}
.logo-style {
  max-width: 24vw;
  max-height: 5vh;
}
.form-style {
  box-shadow: 0px 0px 8px -0.5px #aaaaaa;

  border-radius: 0px 20px 0px 20px;
}

.backImage {
  height: 110vh;
  width: 60vw;
  margin: 10px 10px;
  border-radius: 0px 20px 0px 20px;
}
.form-wrapper {
  display: flex;
  height: 100%;

  align-items: center;
}
