.header-wrapper {
  background-color: #003a48bf;
  position: fixed;
  height: 95px;
}
.commoncomponent1 {
}
/* Button css */
button.buttoncss1 {
  background-color: #da291c;
  border-radius: 8px;
  padding: 10.5px 45px;
  color: #ffffff;
  border: none;
}
button.buttoncss1:hover,
button.buttoncss1:focus,
button.buttoncss1:active {
  background-color: #c12418 !important;
  color: #ffffff;
}
/* Bitton css end */
.logo-style1 {
  height: 38px;
}
.landingpage-content {
  background: url("../../assets/img/landingpage.jpg") no-repeat center/cover;
  width: 100%;
  min-height: calc(100vh - 56px);
  padding-top: 70px;
}
div.transbox1 {
  background-color: #003a48;
  border: 1px solid black;
  border-radius: 30px;
  max-width: 700px;
  padding: 40px 60px;
  text-align: center;
}

div.transbox1 p {
  color: #fff;
  /* display: flex;
  justify-content: center;
  font-size: 2vh;
  text-align: center;
  font-weight: 400; */
}
div.transbox1 h1 {
  /* font-size: 5vh; */
  color: #fff;
  /* display: flex;
  justify-content: center; */
}

.footer-val1 {
  text-align: center;
  background-color: #003a48;
  color: white;
  width: 100%;
  height: 56px;
}
.header-val1 {
  /* text-align: center;
  background-color: #f0f3f4;
  color: black;
  width: 100%;
  height: 56px; */
}
/* Responsive css */
@media only screen and (max-width: 600px) {
  .buttoncss1 {
    padding: 5px 15px;
    color: #ffffff;
  }
  div.transbox1 {
    padding: 15px;
  }
  div.transbox1 h1 {
    font-size: 28px;
  }
  div.transbox1 p {
    font-size: 16px;
  }
  .footer-val1 {
    font-size: 12px;
  }
}
