.sidebar-wrapper {
  height: 100vh;
  box-shadow: 5px 0px 10px 0px #0000000d;
}
.sidebar-wrapper .ps-sidebar-container {
  background-color: #ffffff;
}

.sidebar-wrapper li a {
  color: #231f20;
}
.sidebar-wrapper li a:hover {
  color: #e2211c;
}
.sidebar-wrapper li a:hover::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0px;
  bottom: 0;
  width: 3px;
  background-color: #e2211c;
  height: 23px;
  margin: auto;
}
.sidebar-wrapper .fill-color a:hover svg path {
  fill: #e2211c;
}
.sidebar-wrapper .strock-color a:hover svg path {
  stroke: #e2211c;
}
